header {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}

header div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    min-height: 300px;
    margin: 0 auto;
    padding-left: 260px;
    line-height: 1;
    background-repeat: no-repeat;
    background-position: left center;
}

header div h1 {
    font-weight: normal;
    font-size: 600%;
    margin: 0;
}

header div h2 {
    font-weight: normal;
    font-size: 120%;
    font-style: italic;
    margin-top: 0.5em;
}

header p {
    font-size: 95%;
    margin-top: 1em;
    text-indent: 0;
}

figure {
    text-align: center;
    margin: 10px 0;
}

figure img {
    max-width: 95%;
    height: auto;
}

#downloadList {
    text-align: center;
    margin: 1em 0 2em 0;
    padding: 0;
}

#downloadList li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

dl {
    margin-left: 1em;
}

dl dt {
    margin-top: 15px;
    margin-bottom: 10px;
}

dl dt:first-child {
    margin-top: 0;
}

.badge a {
    display: inline-block;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 120%;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #222;
    margin: 5px;
    padding: 6px 20px;
    border: 1px solid #333;
    border-radius: 8px;
}

.badge a:hover {
    text-decoration: none;
}

.badge a span {
    display: block;
    font-size: 75%;
}

@media screen and (max-width: 800px) {
    header div {
        padding: 10px 0 10px 155px;
        background-size: 150px;
        min-height: 0;
        font-size: 85%;
    }

    header div h1 {
        font-size: 300%;
    }

    header div h2 {
        font-size: 100%;
    }

    header p {
        margin-top: 0.5em;
    }
}

@media screen and (max-width: 320px) {
    header div {
        background-image: none !important;
        padding: 10px 0;
    }

    header div h1 {
        font-size: 400%;
        text-align: center;
    }

    header div h2 {
        text-align: center;
    }
}