html, body, div, span, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, address, code, del, ins, em,
img, strong, sub, sup, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
header, footer, hgroup, menu, nav, section, summary,
time, mark {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    Background: transparent;
}

article, aside, details, figure, figcaption,
header, hgroup, footer, menu, nav, section {
    display: block;
}

body {
    font-family: serif;
}

ul, ol, dl {
    margin: 0.5em 1em;
}

ul li, ol li {
    margin-left: 1em;
    margin-right: 1em;
}

dl dt {
    margin-top: 0.5em;
    margin-left: 1em;
}

dl dt:first-child {
    margin-top: 0;
}

dl dd {
    margin-left: 2em;
}

p {
    line-height: 1.8;
}

a {
    color: #08C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#globalNavi {
    margin: 0;
    list-style-type: none;
    font-weight: bold;
    padding: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
}

#globalNavi ul {
    margin: 0;
    list-style-type: none;
}

#globalNavi ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}

#globalNavi ul:first-child {
    -webkit-flex: 1;
    -moz-flex: 1;
    -o-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

footer {
    width: 95%;
    margin: 20px auto 0 auto;
    font-size: 80%;
}

footer > div {
    padding-top: 20px;
    border-top: 1px solid #eee;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -o-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}

footer > div > div {
    -webkit-flex-basis: 150px;
    -moz-flex-basis: 150px;
    -o-flex-basis: 150px;
    -ms-flex-basis: 150px;
    flex-basis: 150px;
}

footer div h2 {
    margin: 0;
}

footer address {
    padding: 20px 0;
    text-align: center;
    font-style: normal;
}
