/* override normalize.css */
html {
    font-family: HelveticaNeue-Light, sans-serif;
}

input[type="search"] {
    -webkit-appearance: searchfield;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: searchfield-decoration;
}


/* common styles */
body > article {
    max-width: 900px;
    margin: 0 auto;
}

a {
    color: #08C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul li, ol li {
    line-height: 2;
}

ul li p, ol li p {
    margin: 0;
    line-height: 1;
}

p {
    line-height: 2;
    text-align: justify;
}

pre {
    border: 1px solid silver;
    padding: 10px;
    color: black;
    background-color: #eee;
    margin: 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

pre code {
    border: none;
    white-space: pre-wrap;
    padding: 0;
    margin: 0;
    background-color: transparent;
    line-height: 1.5;
}

code {
    background-color: #eee;
    font-family: monospace;
    white-space: nowrap;
    margin: 0 3px;
    padding: 3px;
    border: 1px solid silver;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}


/* styles for global_navigation.html */
#globalNavigation {
    font-family: HelveticaNeue-Middle, sans-serif;
    background: -webkit-linear-gradient(white, #f2f2f2);
    background: -moz-linear-gradient(white, #f2f2f2);
    background: -o-linear-gradient(white, #f2f2f2);
    background: -ms-linear-gradient(white, #f2f2f2);
    background: linear-gradient(white, #f2f2f2);
}

#globalNavigation ul,
#globalNavigation ul li {
    border-color: silver;
    border-style: solid;
    border-width: 0px;
}

#globalNavigation ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    border-width: 1px 0 1px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

#globalNavigation ul li {
    list-style-type: none;
    border-width: 0 1px 0 0;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -o-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

#globalNavigation ul li:last-child {
    border-width: 0;
}

#globalNavigation #searchField {
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -o-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

#globalNavigation #searchField form,
#globalNavigation a {
    padding: 5px 10px;
}

#globalNavigation #searchField form {
    text-align: right;
}

#globalNavigation #searchField form input {
    height: 20px;
}

#globalNavigation a {
    display: inline-block;
}

#globalNavigation a:hover {
    background-color: #eee;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    #globalNavigation {
        font-size: 90%;
    }

    #globalNavigation #searchField form input {
        width: 60px;
    }

    #globalNavigation #searchField form,
    #globalNavigation a {
        padding: 5px 3px;
    }
}


/* styles for footer.html */
footer {
    border-top: 1px solid #eee;
    margin: 20px auto 0 auto;
    font-size: 80%;
}

footer > div {
    max-width: 900px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -o-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}

footer > div h2 {
    margin: 20px 0 5px 0;
    font-size: 90%;
    white-space: nowrap;
}

footer > div > div {
    -webkit-flex: 1 1 150px;
    -moz-flex: 1 1 150px;
    -o-flex: 1 1 150px;
    -ms-flex: 1 1 150px;
    flex: 1 1 150px;
}

footer > div > div > ul {
    margin: 0;
    padding-left: 2em;
}

footer address {
    padding: 20px 0;
    text-align: center;
    font-style: normal;
}