#feed {
    text-align: right;
    max-width: 900px;
    margin: 10px auto;
}

#tagList {
    max-width: 900px;
    margin: 0px auto;
}

#tagList h1 {
    font-size: 100%;
    margin: 0;
}

#tagList ul {
    margin: 0 0 30px 0;
    padding: 0;
}

#tagList ul li {
    display: inline-block;
    margin: 5px 10px;
}

#tagList ul li a span {
    font-size: 80%;
    padding-left: 2px;
}

body > article {
    margin: 50px auto;
    max-width: 800px;
}

article:first-of-type {
    margin-top: 0;
}

article p.postDate {
    margin: 0;
}

article h1 {
    margin: 0 0 10px 0;
    border-bottom: 2px solid orange;
}

article #postTags {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
    font-size: 1rem;
}

article #postTags h2 {
    font-size: inherit;
    font-weight: normal;
    margin: 0;
}

article #postTags h2:after {
    content: ":";
}

article #postTags ul {
    font-size: inherit;
    margin: 0 0 0 0.5em;
    padding: 0;
}

article #postTags ul li {
    font-size: inherit;
    display: inline-block;
    line-height: 1;
}

article #postTags ul li a span {
    font-size: 80%;
    padding-left: 2px;
}

article #postTags ul li:after {
    content: ",";
}

article #postTags ul li:last-child:after {
    content: "";
}

article h2 {
    margin: 30px 0 10px 0;
}

article h2 code {
    font-weight: normal;
}

article p img {
    max-width: 100%;
    display: block;
    margin: 1em auto;
}

.gumroadButton {
    text-align: right;
    margin: 0;
    line-heght: 1;
}

.gumroadButton a {
    border: 1px solid gray;
    text-decoration: none;
    padding: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.9em;
    color: gray;
    -webkit-box-shadow: 0 0 2px silver;
    -moz-box-shadow: 0 0 2px silver;
    -o-box-shadow: 0 0 2px silver;
    -ms-box-shadow: 0 0 2px silver;
    box-shadow: 0 0 2px silver;
}

.gumroadButton a:hover {
    -webkit-box-shadow: 0 0 2px gray;
    -moz-box-shadow: 0 0 2px gray;
    -o-box-shadow: 0 0 2px gray;
    -ms-box-shadow: 0 0 2px gray;
    box-shadow: 0 0 2px gray;
}

article blockquote {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

article table {
    margin: 20px auto;
}

article table th,
article table td {
    border: 1px solid gray;
    padding: 5px 10px;
}

article table th {
    background-color: #eee;
    text-align: center;
}

nav.paginator ul {
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

nav.paginator ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav.paginator ul li:last-child {
    text-align: right;
    position: absolute;
    right: 0;
}