h1 {
    font-size: 150%;
    border-bottom: 2px solid orange;
    margin-bottom: 1em;
}

#tagList ul {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -o-column-count: 4;
    -ms-column-count: 4;
    column-count: 4;
}

#tagList, #matchedList {
    max-width: 850px;
    margin: 50px auto;
}

#matchedList dt {
    display: list-item;
    margin-bottom: 0.3em;
}

#matchedList dt:not(:first-child) {
    margin-top: 1em;
}

#matchedList dd {
    display: inline-block;
    margin-left: 1em;
}

#matchedList p {
    text-align: center;
}