body {
    font-family: serif;
    color: #444;
}

#globalNavi {
    background-image: url(/img/noise.png);
}

header {
    background-image: url(/img/noise.png);
    height: 300px;
    margin-top: -46px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-box-shadow: 0 10px 10px -10px gray;
    -moz-box-shadow: 0 10px 10px -10px gray;
    -o-box-shadow: 0 10px 10px -10px gray;
    -ms-box-shadow: 0 10px 10px -10px gray;
    box-shadow: 0 10px 10px -10px gray;
}

header h1 {
    font-size: 800%;
    text-shadow: -1px -1px 0 black;
}

@media screen and (max-width: 650px) {
    header h1 { font-size: 550%; }
}

@media screen and (max-width: 450px) {
    header h1 { font-size: 350%; }
}

article {
    max-width: 850px;
    margin: 30px auto 0 auto;
}
