header {
    background-image: url(/img/noise.png);
}

header div {
    background-image: url(img/icon.png);
}

header div h1 {
    font-size: 500%;
    text-shadow: 1px 1px 0 gray;
}

p {
    text-indent: 1em;
}

img {
    border: 1px solid #eee;
}
