body {
  box-sizing: border-box;
  font-family: serif;
  background: radial-gradient(right bottom, circle, rgb(238, 238, 238), white);
}

header {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

header img {
  display: block;
  margin: 0 20px 0 0;
  flex: 0 0 auto;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  font-size: 400%;
  text-align: center;
  margin: 0;
  white-space: nowrap;
}

header h1:after {
  content: "😀";
  font-weight: normal;
  border-right: 1px solid black;

  animation: blink 1s step-end 0s infinite normal;
}

@keyframes blink {
  from, to { border-right-color: transparent; }
  50% { border-right-color: black; }
}

header h2 {
  font-size: 100%;
  text-align: center;
  margin: 0;
}

header h1 a {
  color: inherit;
}

header h1 a:hover {
  text-decoration: none;
}

#container, #manual, #versionHistory > div {
  max-width: 900px;
  margin: auto;
}

#description {
  text-align: center;
}

.downloadList {
  padding: 0;
  margin-top: 30px;
  list-style-type: none;
}

.downloadList li {
  text-align: center;
  font-size: 80%;
}

.feature {
  padding: 50px 0;
  border-top: 1px solid #ddd;
}

.feature:nth-child(odd) {
  background-color: #eee;
}

.feature:last-of-type {
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px;
}

.feature > div {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature:nth-child(even) > div {
  flex-direction: row-reverse;
}

.feature > div > figure {
  flex: 0 0 auto;
}

.feature:nth-child(odd) > div > figure {
  margin: 0 0 0 10px;
}

.feature:nth-child(even) > div > figure {
  margin: 0 10px 0 0;
}

.feature > div > h2 {
  margin: 0 0 15px 0;
}

#versionHistory {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px;
}

#versionHistory dl dt,
#versionHistory dl dd {
  line-height: 2;
}

#versionHistory dl dt {
  font-weight: bold;
}

#versionHistory dl dd {
  display: list-item;
}

#versionHistory dl dd ul {
  margin-top: 0;
}

.badge {
  font-family: sans-serif;
  margin-bottom: 20px;
}

.badge a {
  font-size: 120%;
  line-height: 1;
  text-decoration: none;
  color: white;
  background-color: #444;
  padding: 15px 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px gray;
}

.badge a:hover {
  text-decoration: none;
  box-shadow: 0 0 10px gray;
}

kbd {
  border: 1px solid silver;
  margin: 0 3px;
  padding: 2px 3px;
}

figure video {
  border: 1px solid silver;
  display: block;
  margin: auto;
  max-width: 100%;
}

figure img {
  display: block;
  margin: auto;
  max-width: 100%;
}

footer {
  border-top: 1px solid #ddd;
  margin-top: 0;
}


/* for manual page */
#manual h2:before {
  content: "🐱";
  font-weight: normal;
  margin-right: 5px;
}

#manual h3:before {
  content: "🐯";
  font-weight: normal;
  margin-right: 5px;
}

@media screen and (max-width: 700px) {
  header img { width: 96px; height: 96px; }
  header h1 { font-size: 300%; }
  .feature > div,
  .feature:nth-child(even) > div {
    display: block;
  }
  .feature:nth-child(odd) > div > figure {
    margin: 0;
  }
  .feature:nth-child(even) > div > figure {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  header img { width: 64px; height: 64px; }
  header h1 { font-size: 200%; }
}
