body {
    font-family: serif;
}

header {
    margin-bottom: 1em;
}

header nav {
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    background-image: none;
    height: 40px;
    -webkit-box-shadow: 0 1px 5px gray;
    -moz-box-shadow: 0 1px 5px gray;
    -o-box-shadow: 0 1px 5px gray;
    -ms-box-shadow: 0 1px 5px gray;
    box-shadow: 0 1px 5px gray;
}

header nav ul {
    margin: 0;
    position: absolute;
    top: 10px;
}

header nav ul:first-child {
    left: 3px;
}

header nav ul:last-child {
    right: 3px;
}

header nav ul li {
    margin: 0 0.5em;
    display: inline;
    list-style-type: none;
    line-height: 20px;
}

header > hgroup {
    position: relative;
    z-index: -1;
    background-color: white;
    height: 300px;
    width: 100%;
    padding-left: 266px;
    color: #444;
    text-shadow: 1px 1px 0 white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    -webkit-box-shadow: inset 0 -6px 5px -5px gray;
    -moz-box-shadow: inset 0 -6px 5px -5px gray;
    -o-box-shadow: inset 0 -6px 5px -5px gray;
    -ms-box-shadow: inset 0 -6px 5px -5px gray;
    box-shadow: inset 0 -6px 5px -5px gray;
}

header > hgroup > h1 {
    font-size: 600%;
    line-height: 1.2;
}

header > hgroup > h2 {
    font-size: 125%;
}

section {
    margin: 20px 50px;
}

section h1 {
    font-size: 125%;
}

section h2 {
    font-size: 105%;
    margin-top: 1em;
}

#history dl {
    margin: 0.5em 0;
}

#history dl dt {
    font-weight: bold;
}

#history dl dd {
    display: list-item;
    margin-left: 3em;
    font-size: 95%;
}

footer {
    font-size: 80%;
    text-align: center;
    padding: 10px;
}

footer address {
    font-style: normal;
}

p {
    text-indent: 1em;
    line-height: 1.8;
}

a {
    color: #08C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

kbd {
    border: 1px solid gray;
    padding: 2px;
    background-color: #eee;
    -webkit-border-radius: 3px;
}