body {
    font-family: serif;
    color: #444;
    background-image: url(img/noise.png);
}

body > div > h1 {
    font-size: 750%;
    text-align: center;
}

body > div {
    background-color: white;
    margin: 40px auto;
    width: 800px;
    padding: 10px;
    border: 1px solid #ddd;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}