body {
    background-image: url(img/texture.png);
    background-position: left top;
    background-repeat: repeat;
}

header {
    margin-bottom: 0;
    border-bottom: none;
}

header div {
    background-image: url(img/icon.png);
    text-shadow: 2px 2px 0 white;
}

body > article {
    max-width: 100%;
    width: 100%;
}

body > article > div#sub_article {
    max-width: 900px;
    margin: 0 auto;
}

#slideShow {
    background-image: url(img/kanji_logo.png), url(img/noise.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 25px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0 -3px 15px -12px black inset,
                0 4px 15px -12px black inset;
}

#slideShow ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#slideShow ul li {
    margin: 0;
    padding: 0;
    text-align: center;
}

#slideShow ul li img {
    max-width: 100%;
    max-height: 90%;
}

#slideShow ol {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#slideShow ol li {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    background-color: #999;
    border: 1px solid white;
    border-radius: 12px;
}

#slideShow ol li:hover,
#slideShow ol li.active {
    background-color: #555;
}

#usefulLinks {
    list-style-type: none;
    font-size: 90%;
    margin: 0 auto;
    text-align: right;
}

#usefulLinks li {
    display: inline-block;
    margin: 0 5px 0 0;
}

article h2 {
    text-align: center;
}

div.features {
    display: flex;
    flex-wrap: wrap;
}

@-moz-document url-prefix( ) {
    div.features {
        display: block;
    }
}

div.features > div {
    padding: 0 10px;
    flex: 1 1 40%;
}

div.features div h3 {
    margin-bottom: 3px;
    border-bottom: 1px solid silver;
    height: 1.5em;
}

@media screen and (max-width: 500px) {
    div.features > div {
        flex: 1 1 100%;
    }
}


/* for history page */
#history {
    max-width: 900px;
    margin: 1em auto;
}

#history h1 {
    text-align: center;
    font-size: 150%;
}

#history dl {
    margin: 0;
}

#history dl dt {
    font-weight: bold;
    margin-top: 1em;
    margin-left: 0;
    line-height: 2;
}

#history dl dd {
    display: list-item;
    margin-left: 2em;
    font-size: 90%;
    line-height: 2;
}


/* for help page */
#help {
    max-width: 900px;
    margin: 1em auto;
}

#help h1 {
    font-size: 150%;
    text-align: center;
}

#help section {
    margin: 3em 0;
}

#help section h2 {
    font-size: 120%;
    text-align: left;
    margin-bottom: 1em;
}

#help section section {
    margin: 1em 2em;
}

#help section h3 {
    font-size: 110%;
    margin-top: 1em;
}

#help img {
    max-width: 100%;
}

#help kbd {
    font-family: monospace;
    border: 1px solid gray;
    padding: 2px;
    background-color: #eee;
    border-radius: 3px;
}

