body {
    font-family: serif;
    background-image: url(img/Murasaki_kanji.png), url(img/texture.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    text-shadow: 1px 1px 0 white;
}

header nav {
    border-bottom: 1px solid white;
    background-color: white;
    background: -webkit-linear-gradient(top, #fff, #eee);
    background: -moz-linear-gradient(top, #fff, #eee);
    background: -o-linear-gradient(top, #fff, #eee);
    background: -ms-linear-gradient(top, #fff, #eee);
    background: linear-gradient(top, #fff, #eee);
    -webkit-box-shadow: 0 0px 15px gray;
    -moz-box-shadow: 0 0px 15px gray;
    -o-box-shadow: 0 0px 15px gray;
    -ms-box-shadow: 0 0px 15px gray;
    box-shadow: 0 0px 15px gray;
}

header h1, header h2 {
    text-align: center;
}

#inPageNavigation {
    text-align: right;
}

#inPageNavigation ul {
    display: inline;
    margin: 0;
}

#inPageNavigation ul li {
    font-size: 90%;
    display: inline;
    margin: 0;
    padding: 0 10px;
    border-left: 1px solid silver;
}

#inPageNavigation ul li:first-child {
    border-left: none;
}

section {
    margin: 20px 50px;
}

section h1 {
    font-size: 125%;
}

section h2 {
    font-size: 100%;
    margin: 0;
}

figure {
    margin: 10px auto;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure img.pieceOfImage {
    border: 1px solid silver;
    background-color: white;
}

figure img.pieceOfImage + figcaption {
    margin-top: 5px;
}

figcaption {
    text-align: center;
    font-size: 90%;
}

pre {
    border: 1px solid gray;
    padding: 10px;
    background-color: #EEE;
    margin: 10px 30px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

pre code {
    border: none;
    padding: 0;
    background-color: transparent;
}

code {
    font-family: monospace;
    border: 1px solid gray;
    padding: 3px;
    background-color: #EEE;
    white-space: pre;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

#description dl {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 95%;
}

#description dl dt,
#description dl dd {
    margin: 0;
    display: inline;
}


#description dl dt:after {
    content: ":";
}

#download ul {
    font-size: 95%;
}

#history dl {
    font-size: 95%;
}

#history dl dt {
    font-weight: bold;
    margin-left: 0;
}

#history dl dd {
    margin-left: 1em;
}
