body {
    font-family: serif;
    background-image: url(img/kanji_logo.png), url(img/texture.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    text-shadow: 1px 1px 0 white;
}

header > hgroup {
    background-image: url(img/icon.png), url(../../img/noise.png);
    background-repeat: no-repeat, repeat;
    background-position: left center, left top;
}

#inPageNavigation {
    text-align: center;
}

#inPageNavigation ul {
    display: inline;
    margin: 0;
}

#inPageNavigation ul li {
    font-size: 90%;
    display: inline;
    margin: 0;
    padding: 0 10px;
    border-left: 1px solid silver;
}

#inPageNavigation ul li:first-child {
    border-left: none;
}

figure {
    margin: 10px auto;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

figcaption {
    text-align: center;
    font-size: 90%;
}

pre {
    border: 1px solid gray;
    padding: 10px;
    background-color: #EEE;
    margin: 10px 30px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

pre code {
    border: none;
    padding: 0;
    background-color: transparent;
}

code {
    font-family: monospace;
    border: 1px solid gray;
    padding: 3px;
    background-color: #EEE;
    white-space: pre;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

#description dl {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 95%;
}

#description dl dt,
#description dl dd {
    margin: 0;
    display: inline;
}

#description dl dt:after {
    content: ":";
}
