body {
    background-image: url(img/texture.png);
    background-position: left top;
    background-repeat: repeat;
}

header div {
    background-image: url(img/icon.png);
    text-shadow: 2px 2px 0 white;
}

#slideShow {
    background-image: url(img/kanji_logo.png), url(img/noise.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 25px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    -webkit-box-shadow: 0 -3px 15px -12px black inset,
                        0 4px 15px -12px black inset;
    -moz-box-shadow: 0 -3px 15px -12px black inset,
                     0 4px 15px -12px black inset;
    -o-box-shadow: 0 -3px 15px -12px black inset,
                   0 4px 15px -12px black inset;
    -ms-box-shadow: 0 -3px 15px -12px black inset,
                    0 4px 15px -12px black inset;
    box-shadow: 0 -3px 15px -12px black inset,
                0 4px 15px -12px black inset;
}

#slideShow ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

#slideShow ul li {
    margin: 0;
    padding: 0;
}

#slideShow ol {
    list-style-type: none;
    text-align: center;
}

#slideShow ol li {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    background-color: #999;
    border: 1px solid white;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    -ms-border-radius: 12px;
    border-radius: 12px;
}

#slideShow ol li:hover,
#slideShow ol li.active {
    background-color: #555;
}

#usefulLinks {
    list-style-type: none;
    width: 850px;
    font-size: 90%;
    margin: 0 auto;
    text-align: right;
}

#usefulLinks li {
    display: inline-block;
    margin: 0 5px 0 0;
}

article h2 {
    text-align: center;
}

div.featuresRow {
    width: 850px;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    display: box;
}

div.featuresRow div {
    font-size: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 422.5px;
    margin-right: 5px;
    padding: 5px;
}

div.featuresRow div h3 {
    margin-bottom: 3px;
    border-bottom: 1px solid silver;
    height: 1.5em;
}

div.featuresRow div p {
    padding: 0 0.5em;
}


/* for history page */
#history {
    width: 850px;
    margin: 1em auto;
}

#history h1 {
    text-align: center;
    font-size: 150%;
}

#history dl {
    margin: 0;
}

#history dl dt {
    font-weight: bold;
    margin-left: 0;
}

#history dl dd {
    display: list-item;
    margin-left: 2em;
    font-size: 90%;
}


/* for help page */
#helpNavi {
    width: 850px;
    margin: 1em auto;
}

#help h1 {
    font-size: 150%;
    text-align: center;
}

#help section {
    margin: 3em 0;
}

#help section h2 {
    font-size: 120%;
    text-align: left;
    margin-bottom: 1em;
}

#help section section {
    margin: 1em 2em;
}

#help section h3 {
    font-size: 110%;
    margin-top: 1em;
}

#help kbd {
    border: 1px solid gray;
    padding: 2px;
    background-color: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

#help pre {
    border: 1px solid gray;
    padding: 10px;
    background-color: #EEE;
    margin: 10px 30px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

#help pre code {
    border: none;
    padding: 0;
    background-color: transparent;
}

#help code {
    font-family: monospace;
    border: 1px solid gray;
    padding: 3px;
    background-color: #EEE;
    white-space: pre;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}