body {
    background-color: #EEE;
}

header nav {
    color: white;
    border-bottom: 1px solid black;
    background-color: black;
    background: -webkit-linear-gradient(top, #333, #666);
    background: -moz-linear-gradient(top, #333, #666);
    background: -o-linear-gradient(top, #333, #666);
    background: -ms-linear-gradient(top, #333, #666);
    background: linear-gradient(top, #333, #666);
    -webkit-box-shadow: 0 0px 15px gray;
    -moz-box-shadow: 0 0px 15px gray;
    -o-box-shadow: 0 0px 15px gray;
    -ms-box-shadow: 0 0px 15px gray;
    box-shadow: 0 0px 15px gray;
}

h2 {
    font-size: 125%;
    margin-top: 2em;
}

h3 {
    margin-top: 2em;
}

dl dt {
    font-weight: bold;
}
