header {
    background-image: url(/img/noise.png);
}
header div {
    background-image: url(img/icon.png);
}

#animation {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 8px;
}

dd > ul {
    margin: 0;
}
