<!-- including from footer.html -->
<footer>
  <div>
    <div>
      <ul>
        <h2>Genji App</h2>
        <li><a href="/{% if page.language == 'en' %}index_en.html{% endif %}">Top</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="https://docs.google.com/spreadsheet/viewform?formkey=dHZLVGhBRnZUb1JTelcwUFN5X3o3V1E6MQ" target="_blank">Contact</a></li>
      </ul>
    </div>

    <div>
      <h2>OS X Applications</h2>
      <ul>
        <li><a href="/mac/murasaki/{% if page.language == 'en' %}index_en.html{% endif %}">Murasaki</a></li>
        <li><a href="/mac/clcl/{% if page.language == 'en' %}index_en.html{% endif %}">CLCL</a></li>
        <li><a href="/mac/imagediff/{% if page.language == 'en' %}index_en.html{% endif %}">ImageDiff</a></li>
      </ul>
    </div>

    <div>
      <h2>iOS Applications</h2>
      <ul>
        <li><a href="/ios/palmtopbell/{% if page.language == 'en' %}index_en.html{% endif %}">Palmtop Bell</a></li>
        <li><a href="/ios/kanjimagnifier/{% if page.language == 'en' %}index_en.html{% endif %}">KanjiMagnifier</a></li>
      </ul>
    </div>

    <div>
      <h2>Link</h2>
      <ul>
        <li><a href="https://github.com/GenjiApp">GitHub</a></li>
        <li><a href="http://twitter.com/genji_tw">Twitter</a></li>
      </ul>
    </div>
  </div>

  <address>
    Genji (<a href="http://twitter.com/genji_tw">@genji_tw</a>)
  </address>
</footer>
<!-- end of including from footer.html -->
