<!-- including from footer.html -->
<footer>
  {% unless page.url == '/index.html' %}
  {% unless page.url == '/index_en.html' %}
  <div>
    <div>
      <h2>Genji App</h2>
      <ul>
        <li><a href="/{% if page.language == 'en' %}index_en.html{% endif %}">{% if page.language == 'en' %}Home{% else %}ホーム{% endif %}</a></li>
        <li><a href="/blog/">{% if page.language == 'en' %}Blog{% else %}ブログ{% endif %}</a></li>
        <li><a href="https://docs.google.com/spreadsheet/viewform?formkey=dHZLVGhBRnZUb1JTelcwUFN5X3o3V1E6MQ" target="_blank">{% if page.language == 'en' %}Contact{% else %}コンタクト{% endif %}</a></li>
        <li><a href="https://gumroad.com/l/IaST" target="_blank">Gumroad投げ銭</a></li>
      </ul>
    </div>

    <div>
      <h2>macOS Applications</h2>
      <ul>
        <li><a href="/mac/silver-baton/{% if page.language == 'en' %}index_en.html{% endif %}">Silver Baton</a></li>
        <li><a href="/mac/emoji-im/{% if page.language == 'en' %}index_en.html{% endif %}">Emoji IM</a></li>
        <li><a href="/mac/murasaki/{% if page.language == 'en' %}index_en.html{% endif %}">Murasaki</a></li>
        <li><a href="/mac/keyknockr/{% if page.language == 'en' %}index_en.html{% endif %}">Keyknockr</a></li>
        <li><a href="/mac/mailtointerceptor/{% if page.language == 'en' %}index_en.html{% endif %}">Mailto Interceptor</a></li>
        <li><a href="/mac/imagediff/{% if page.language == 'en' %}index_en.html{% endif %}">ImageDiff</a></li>
        <!-- <li><a href="/mac/tombo/{% if page.language == 'en' %}index_en.html{% endif %}">Tombo</a></li> -->
      </ul>
    </div>

    <div>
      <h2>iOS Applications</h2>
      <ul>
        <li><a href="/ios/palmtopbell/{% if page.language == 'en' %}index_en.html{% endif %}">Palmtop Bell</a></li>
        <li><a href="/ios/kanjimagnifier/{% if page.language == 'en' %}index_en.html{% endif %}">KanjiMagnifier</a></li>
      </ul>
    </div>

    <div>
      <h2>Link</h2>
      <ul>
        <li><a href="https://docs.google.com/spreadsheet/viewform?formkey=dHZLVGhBRnZUb1JTelcwUFN5X3o3V1E6MQ" target="_blank">Contact</a></li>
        <li><a href="https://github.com/GenjiApp">GitHub</a></li>
        <li><a href="https://bsky.app/profile/genjiapp.com">Bluesky</a></li>
        <li><a href="http://twitter.com/genjiapp">X (Twitter)</a></li>
      </ul>
    </div>
  </div>
  {% endunless %}
  {% endunless %}

  <address>
    &copy; Genji App
  </address>
</footer>
<!-- end of including from footer.html -->

