#globalNavigation {
    background: linear-gradient(#444, #333);
}

#globalNavigation ul,
#globalNavigation ul li {
    border-color: #222;
}

#globalNavigation ul li a:hover {
    background-color: #333;
}

body {
    color: #ddd;
    background-color: 333;
    background: linear-gradient(top, #444, #000);
}

a {
    color: orange;
}

header {
    background-image: url(img/carbon_fiber.png);
    background-position: left, top;
    background-repeat: repeat;
    border-bottom: none;
    box-shadow: 0 5px 5px -5px black inset, 0 -5px 5px -5px black inset;
}

header div {
    background-image: url(img/icon.png);
}

header div h1 {
    text-shadow: 1px 1px 0 black;
}

figure img {
    max-width: 30%;
    margin: 5px;
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

footer {
    border-top-color: #222;
}

@media screen and (max-width: 800px) {
    figure img {
        max-width: 45%;
    }
}

@media screen and (max-width: 320px) {
    figure img {
        max-width: 90%;
    }
}