body {
    font-family: serif;
    color: white;
    background-color: black;
    background: -webkit-linear-gradient(top, #444, #000);
    background: -moz-linear-gradient(top, #444, #000);
    background: -o-linear-gradient(top, #444, #000);
    background: -ms-linear-gradient(top, #444, #000);
    background: linear-gradient(top, #444, #000);
}

header nav {
    color: white;
    border-bottom: 1px solid #111;
    background-color: black;
    background: -webkit-linear-gradient(top, #444, #222);
    background: -moz-linear-gradient(top, #444, #222);
    background: -o-linear-gradient(top, #444, #222);
    background: -ms-linear-gradient(top, #444, #222);
    background: linear-gradient(top, #444, #222);
    -webkit-box-shadow: 0 1px 5px black;
    -moz-box-shadow: 0 1px 5px black;
    -o-box-shadow: 0 1px 5px black;
    -ms-box-shadow: 0 1px 5px black;
    box-shadow: 0 1px 5px black;
}

figure {
    text-align: center;
    margin: 10px 0;
}

figure img {
    max-width: 30%;
}

dl dt {
    font-weight: bold;
}
