body {
    font-family: serif;
    color: white;
    background-color: black;
    background: -webkit-linear-gradient(top, #444, #000);
    background: -moz-linear-gradient(top, #444, #000);
    background: -o-linear-gradient(top, #444, #000);
    background: -ms-linear-gradient(top, #444, #000);
    background: linear-gradient(top, #444, #000);
}

nav {
    position: absolute;
    top: 5px;
    left: 10px;
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em 0 0;
}

h1 {
    font-size: 600%;
    margin-top: 20px;
}

h2 {
    font-size: 125%;
    margin-top: 2em;
}

figure {
    text-align: center;
    margin: 10px 0;
}

figure img {
    max-width: 30%;
}

p {
    text-indent: 1em;
    line-height: 1.8;
}

a {
    color: #08C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

dl dt {
    font-weight: bold;
}

footer {
    font-size: 80%;
    text-align: center;
    padding: 10px;
}

footer address {
    font-style: normal;
}
