header div {
    background-image: url(img/icon.png);
}

header div h1 {
    font-size: 500%;
}

figure img {
    max-width: 30%;
    margin: 5px;
    border: 1px solid lightgray;
    box-shadow: 0 0 3px lightgray;
}

@media screen and (max-width: 800px) {
    header div h1 {
        font-size: 400%;
    }

    figure img {
        max-width: 45%;
    }
}

@media screen and (max-width: 320px) {
    header div h1 {
        font-size: 300%;
    }

    figure img {
        max-width: 90%;
    }
}