header div {
    background-image: url(img/icon.png);
}

header div h1 {
    font-size: 500%;
}

figure img {
    max-width: 30%;
    border: 1px solid lightgray;
    -webkit-box-shadow: 0 0 3px lightgray;
    -moz-box-shadow: 0 0 3px lightgray;
    -o-box-shadow: 0 0 3px lightgray;
    -ms-box-shadow: 0 0 3px lightgray;
    box-shadow: 0 0 3px lightgray;
}

.badge a {
    -webkit-box-shadow: 0 0 1px gray;
    -moz-box-shadow: 0 0 1px gray;
    -o-box-shadow: 0 0 1px gray;
    -ms-box-shadow: 0 0 1px gray;
    box-shadow: 0 0 1px gray;
}