---
---
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8"/>
    <link href="/css/common.css" rel="stylesheet"/>
    <link href="/css/post.css" rel="stylesheet"/>
    <link href="/blog/feed.xml" type="application/rss+xml" title="{{ site.name }} Blog" rel="alternate"/>
    <title>{{ site.name }} Blog</title>
  </head>

  <body>

    {% include global_navi.html %}

    <p class="feed"><a href="/blog/feed.xml">[feed]</a></p>

    {% for post in paginator.posts %}
    <article>
      <p class="date">{{ post.date | date: "%Y年%m月%d日" }}</p>
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      {{ post.content }}
    </article>
    {% endfor %}

    <nav class="paginator">
      <ul>
        {% if paginator.previous_page %}<li><a href="/blog/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}{% endif %}">前の記事</a></li>{% endif %}
        {% if paginator.next_page %}<li><a href="/blog/page{{ paginator.next_page }}">次の記事</a></li>{% endif %}
      </ul>
    </nav>

    {% include footer.html %}

  </body>
</html>
