---
---
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link href="/css/normalize.css" rel="stylesheet"/>
    <link href="/css/common.css" rel="stylesheet"/>
    <link href="/css/post.css" rel="stylesheet"/>
    <link href="/blog/feed.xml" type="application/rss+xml" title="{{ site.name }} Blog" rel="alternate"/>
    <title>{{ site.name }} Blog</title>
  </head>

  <body>

    {% include global_navigation.html %}

    <p id="feed"><a href="/blog/feed.xml">feed</a></p>

    {% for post in paginator.posts %}
    <article>
      <p class="postDate">{{ post.date | date: "%Y年%m月%d日" }}</p>
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <nav id="postTags">
        <h2>tags</h2>
        <ul>
          {% for tag in post.tags %}
          <li><a href="/search.html?q=%5B{{ tag }}%5D">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      {{ post.content }}
    </article>
    {% endfor %}

    <nav class="paginator">
      <ul>
        {% if paginator.previous_page %}<li><a href="/blog/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}/{% endif %}">新しい記事</a></li>{% endif %}
        {% if paginator.next_page %}<li><a href="/blog/page{{ paginator.next_page }}/">古い記事</a></li>{% endif %}
      </ul>
    </nav>

    {% include footer.html %}

  </body>
</html>
