body {
    color: #ddd;
    background-color: #333;
    font-family: serif;
}

header {
    background-image: url(img/carbon_fiber.png);
    background-position: left, top;
    background-repeat: repeat;
    -webkit-box-shadow: 0 5px 5px -5px black inset, 0 -5px 5px -5px black inset;
    -moz-box-shadow: 0 5px 5px -5px black inset, 0 -5px 5px -5px black inset;
    -o-box-shadow: 0 5px 5px -5px black inset, 0 -5px 5px -5px black inset;
    -ms-box-shadow: 0 5px 5px -5px black inset, 0 -5px 5px -5px black inset;
    box-shadow: 0 5px 5px -5px black inset, 0 -5px 5px -5px black inset;
}

header div {
    background-image: url(img/icon.png);
}

a {
    color: orange;
}

p {
    text-indent: 1em;
}

figure img {
    -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
    -moz-box-shadow: 0 0 5px rgb(0, 0, 0);
    -o-box-shadow: 0 0 5px rgb(0, 0, 0);
    -ms-box-shadow: 0 0 5px rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

footer > div {
    border-top-color: #444;
}
