header > hgroup {
    background-image: url(img/icon.png), url(../../img/noise.png);
    background-repeat: no-repeat, repeat;
    background-position: left center, left top;
}

section figure {
    text-align: center;
    margin: 20px;
}

section figure img {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}