<!doctype html>
<html{% if page.language %} lang="{{ page.language }}"{% endif %}>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link href="/css/normalize.css" rel="stylesheet"/>
    <link href="/css/common.css" rel="stylesheet"/>
    <link href="/css/home.css" rel="stylesheet"/>
    <title>{{ site.name }}</title>
  </head>

  <body>

    {% include global_navigation.html %}

    <header>
      <h1>{{ site.name }}</h1>
    </header>

    <article>
      {{ content }}

      {% if page.language == 'ja' %}
      <h2>Recent Blog Posts [<a href="/blog/feed.xml">feed</a>]</h2>
      <ul id="recentPosts">
        {% for post in site.posts limit:5 %}
        <li>{{ post.date | date: "%Y年%m月%d日" }}: <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

      <h2>Link</h2>
      <ul>
        <li><a href="https://docs.google.com/spreadsheet/viewform?formkey=dHZLVGhBRnZUb1JTelcwUFN5X3o3V1E6MQ" target="_blank">Contact</a></li>
        <li><a href="https://github.com/GenjiApp">GitHub</a></li>
        <li><a href="http://twitter.com/genji_tw">Twitter</a></li>
      </ul>
    </article>

    {% include footer.html %}

  </body>
</html>
