---
layout: default
css: [/css/search.css]
js: [/js/jquery.js, /js/search.js]
---
<div id="matchedList">
  <h1>{{ page.title }}</h1>
</div>

<aside id="tagList">
  <h1>{% if page.language == 'en' %}Tags{% else %}タグ一覧{% endif %}</h1>
  <ul>
    {% capture tagNamesString %}{% for tag in site.tags %}{{ tag[0] }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
    {% assign sortedTagNames = tagNamesString | split:',' | sort %}
    {% for tagName in sortedTagNames %}
    <li><a href="/search{% if page.language == 'en' %}_en{% endif %}.html?q=%5B{{ tagName }}%5D">{{ tagName }}<span>[{{ site.tags[tagName].size }}]</span></a></li>
    {% endfor %}
  </ul>
</aside>
