<!doctype html>
<html{% if page.language %} lang="{{ page.language }}"{% endif %}>
  <head>
    <meta charset="utf-8"/>
    <link href="/css/common.css" rel="stylesheet"/>
    <link href="/css/top_page.css" rel="stylesheet"/>
    <title>{{ site.name }}</title>
  </head>

  <body>

    <header>
      {% include global_navi.html %}
      <h1>{{ site.name }}</h1>
    </header>

    <article>
      {{ content }}

      {% if page.language == 'ja' %}
      <h2>Recent Blog Posts [<a href="/blog/feed.xml">feed</a>]</h2>
      <ul>
        {% for post in site.posts limit:5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

      <h2>Link</h2>
      <ul>
        <li><a href="https://docs.google.com/spreadsheet/viewform?formkey=dHZLVGhBRnZUb1JTelcwUFN5X3o3V1E6MQ" target="_blank">Contact</a></li>
        <li><a href="https://github.com/GenjiApp">GitHub</a></li>
        <li><a href="http://twitter.com/genji_tw">Twitter</a></li>
      </ul>
    </article>

    <footer>
      <address>
        Genji(<a href="http://twitter.com/genji_tw">@genji_tw</a>)
      </address>
    </footer>

  </body>
</html>
